version: '2.2'
services:
  go-pttbbs:
    image: pttofficialapps/go-pttbbs:v0.21.11
    ports:
      - "127.0.0.1:8888:8888"
      - "127.0.0.1:48763:48763"
      - "127.0.0.1:3458:3456"
    restart: always
    volumes:
      - ${BBSHOME}:/home/bbs
      - ${ETC}:/etc/go-pttbbs
  mongo:
    image: mongo:4.4.18
    restart: always
    volumes:
      - ${MONGO}:/data
      - ${MONGO}/db:/data/db
      - ${MONGO}/configdb:/data/configdb
    cpus: ${MONGO_CPU}
    mem_limit: ${MONGO_MEM}
    mem_reservation: ${MONGO_MEM}
  redis:
    image: redis:6.0.9-alpine
    restart: always
  postfix:
    image: chhsiao1981/docker-postfix
    volumes:
      - ${POSTFIX_MAIN_CF}:/etc/postfix/main.cf
      - ${POSTFIX_MASTER_CF}:/etc/postfix/master.cf
    restart: always
  openbbs-middleware:
    image: pttofficialapps/go-openbbsmiddleware:v0.28.6
    ports:
      - "127.0.0.1:3457:3457"
    volumes:
      - ${STATIC_DIR}:/static
      - ${ETC}:/etc/go-openbbsmiddleware
      - ${ETC}:/etc/go-pttbbs
    restart: always
