<html>
    <body>
        __USER__ 您好,<br />
        <br />
        我們收到您要求更改 __BBSNAME__ 的 "聯絡 email"<br />
        為 __EMAIL__.<br />
        <br />
        如果您並沒有如此要求, 您可以忽略這封信件.<br />
        <br />
        如果您的確有如此要求. 您可以點以下 link<br />
        來完成確認.<br />
        <br />
        <a href="__URL__">__URL__</a><br />
        <br />
        __BBSNAME__ 站長群.<br />
        <br />
        <br />
        <br />
        Dear __USER__,<br />
        <br />
        We received your request to change<br />
        __BBSENAME__ "Contact Email" to __EMAIL__.<br />
        <br />
        You can ignore this email if you didn't<br />
        do the request.<br />
        <br />
        Or you can click on the following link for verification:<br />
        <br />
        <a href="__URL__">__URL__</a><br />
        <br />
        Best regards,<br />
        __BBSENAME__ administrators.<br />
    </body>
</html>
