name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
    - name: Start Redis
      uses: supercharge/redis-github-action@1.8.0
      with:
        redis-version: 6

    - name: MongoDB in GitHub Actions
      uses: supercharge/mongodb-github-action@v1.10.0
      with:
        mongodb-version: 4.4
        mongodb-replica-set: test-rs
        mongodb-port: 27017

    - name: check mongo
      run: docker exec -t mongodb mongo localhost:27017 --eval "db.test.find()"

    - name: Set up Go 1.x
      uses: actions/setup-go@v5
      with:
        go-version: ^1.19

    - name: Check out code into the Go module directory
      uses: actions/checkout@v4

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v3
      with:
        working-directory: /home/runner/work/go-openbbsmiddleware/go-openbbsmiddleware
        args: --verbose --config /home/runner/work/go-openbbsmiddleware/go-openbbsmiddleware/.golangci.yaml

    - name: Build
      run: make

    - name: TestQueueCommentDBCS
      run: go test -v ./... -run TestQueueCommentDBCS -tags queue

    - name: Testing
      run: make test
      env:
        TAGS: noqueue

    - name: Upload coverage report
      uses: codecov/codecov-action@v4
